{
  "extends": [
    "next/core-web-vitals",
    "next/typescript",
    "prettier",
    "plugin:import/recommended",
    "plugin:@tanstack/query/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "import/named": 0,
    "import/no-named-as-default-member": 0
  }
}
